<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387492530432-mvtir3g94ssboh3skd7medsgrd2gm2pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387492530432-mvtir3g94ssboh3skd7medsgrd2gm2pr</string>
	<key>API_KEY</key>
	<string>AIzaSyBTDKPJl230hHcO3DQEWL4ajcvFKYptDts</string>
	<key>GCM_SENDER_ID</key>
	<string>387492530432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impactosdigitales.curso.dia</string>
	<key>PROJECT_ID</key>
	<string>fir-firebase-7956c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firebase-7956c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387492530432:ios:722ccdd30cc1b601558be5</string>
</dict>
</plist>